@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  font-family: "Inter", sans-serif;
  background-color: #f9fbfc;
}

h1 {
  @apply text-5xl font-bold;
}

h2 {
  @apply text-2xl font-black;
}
h3 {
  @apply text-xl font-semibold;
}
h4 {
  @apply text-lg font-semibold;
}
h5 {
  @apply text-sm font-semibold;
}
h6 {
  @apply text-xs font-semibold;
}

.border-1 {
  border-width: 1px;
}

.text-2xs {
  font-size: 11px;
}

p {
  @apply text-sm font-normal;
}

input {
  border-width: 1px;
  @apply text-sm p-2 rounded-md border-gray-100;
}

label {
  @apply text-sm font-semibold text-gray-600;
}
