.fieldInput {
    @apply bg-white w-16 text-black text-xs;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    // Estilos específicos para webkit
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    // Estilos específicos para Firefox
    &::-moz-number-spin-box {
        -moz-appearance: textfield;
    }
}